# Virtual Environment
venv/
*.venv
.venv

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor specific
.idea/
.vscode/
*.swp
*.swo

# Build artifacts
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3
*.db

# OS-specific
.DS_Store
Thumbs.db